<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <title>Drivio</title>

    <!-- Custom styles for this template -->
    <link href="css/category-selector.css" rel="stylesheet">
  </head>
  <body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead">
        <div class="inner">
          <h3 class="masthead-brand">Drivio</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="btn btn-md btn-outline-light" href="javascript:NavigatorService.handleLogout()">Log out</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Select a category 📝</h1>
          <div class="card-container">
            <div class="card card-coming-soon" id="1">
              <div class="card-body d-flex">
                <div class="card-image col-2 d-flex justify-content-center">
                  <img src="assets/a_kategorija.png" alt="Road sign 1">
                </div>
                <div class="card-content">
                  <div class="card-content-title">
                    <h3>🛵 A Category - Coming soon! 🛵</h3>
                  </div>
                  <div class="card-content-subtitle">
                    <p>Online tests for taking the A and A1 (motorcycle and moped) category. Questions in this category
                      are valid for the year 2023 for Bosnia and Herzegovina.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card" id="2">
              <div class="card-body d-flex">
                <div class="card-image col-2 d-flex justify-content-center">
                  <img src="assets/b_kategorija.png" alt="Road sign 2">
                </div>
                <div class="card-content">
                  <div class="card-content-title">
                    <h3>🚗 B Category 🚗</h3>
                  </div>
                  <div class="card-content-subtitle">
                    <p>Online tests for taking the B (car) category. Questions in this category are valid for the year 2023 for Bosnia and Herzegovina.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card" id="3">
              <div class="card-body d-flex">
                <div class="card-image col-2 d-flex justify-content-center">
                  <img src="assets/c_kategorija.png" alt="Road sign 3">
                </div>
                <div class="card-content">
                  <div class="card-content-title">
                    <h3>🚛 C Category 🚛</h3>
                  </div>
                  <div class="card-content-subtitle">
                    <p>Online tests for taking the C (truck & truck up to 7.5t) category. This category contains only 33 questions specific to the C category. Make sure to practice the B category as well.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="card card-coming-soon" id="4">
              <div class="card-body d-flex">
                <div class="card-image col-2 d-flex justify-content-center">
                  <img src="assets/d_kategorija.png" alt="Road sign 4">
                </div>
                <div class="card-content">
                  <div class="card-content-title">
                    <h3>🚌 D Category - Coming soon! 🚌</h3>
                  </div>
                  <div class="card-content-subtitle">
                    <p>Online tests for taking the D (bus) category. This category contains the B category questions plus additional 33 questions specific to the D category.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="card" id="5">
              <div class="card-body d-flex">
                <div class="card-image col-2 d-flex justify-content-center">
                  <img src="assets/prva_pomoc.png" alt="First Aid">
                </div>
                <div class="card-content">
                  <div class="card-content-title">
                    <h3>❤️‍🩹 First Aid ❤️‍🩹</h3>
                  </div>
                  <div class="card-content-subtitle">
                    <p>First aid is a special test that is mandatory and must be passed before starting to drive. The test contains 100 questions to which you have only one correct answer.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Made with ❤️ by <a href="https://www.linkedin.com/in/ajdin-bajric/">Ajdin Bajrić</a> & <a href="https://www.linkedin.com/in/bakirmujkanovic/">Bakir Mujkanović</a>.</p>
        </div>
      </footer>
    </div>
  </body>
</html>
