<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <title>Drivio</title>

    <!-- Custom styles for this template -->
    <link href="css/landing-page.css" rel="stylesheet">
</head>
<body>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Drivio</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="btn btn-md btn-outline-light" href="javascript:NavigatorService.getSignInForm()">Sign in</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <!--    <h1 class="cover-heading">⚡️ Master Your Wheels ⚡️</h1>-->
        <h1 class="cover-heading">🚀 Rev Up Your Knowledge 🚀</h1>
        <p class="lead">The ultimate destination for student drivers to test their knowledge and enhance their driving
            skills. Put your knowledge to the test and gauge your readiness for the driver's license exam.</p>
        <p class="lead">
            <a class="btn btn-lg btn-secondary" href="javascript:NavigatorService.getSignInForm()">Learn more</a>
        </p>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Made with ❤️ by <a href="https://www.linkedin.com/in/ajdin-bajric/">Ajdin Bajrić</a> & <a
                    href="https://www.linkedin.com/in/bakirmujkanovic/">Bakir Mujkanović</a>.</p>
        </div>
    </footer>
</div>
</body>
</html>